*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
.header_social_contact{
  border-bottom:3px dashed white;
  
}
.header_social_contact .fa{
  color: white;
}
.icon-invisible{
  visibility: hidden;
}
.mainheader{
  background-image:  url('images/headerbg.jpg');
  width: 100%;
  height: 75vh;
}

.landingpage_text {
 position: absolute;
 right: 15%;
 bottom: 264px;
 left: 15%;
 z-index: 10;
 padding-top: 20px;
 padding-bottom: 20px;
 color: #fff;
 text-align: center;
 justify-content: center; 
 align-items: center;
}
.item_image{
  background: url('images/burger.jpeg');
}

h3{
  font-family: 'Cedarville Cursive', cursive;
  font-size: 44px;
  font-weight: lighter;
}
.footer_newsletter{
  padding: 13px 77px;
}
.padd{
  padding-left: 170px;
}
.mt-0 {
  margin-top: 0 !important;
}
.blank_area{
  padding-top: 600px ;
}
.row .fa{
  color: green;
}

.pt-2 .btn{
  width: 200px;
}
.col-lg-4 .form-control{
  width: 200px;
}